<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AjoutUtilisateurParticulierServlet</servlet-name>
        <servlet-class>com.dauphine.java.src.AjoutUtilisateurParticulierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjoutUtilisateurParticulierServlet</servlet-name>
        <url-pattern>/AjoutUtilisateurParticulierServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>factorielle.jsp</welcome-file>
    </welcome-file-list>
</web-app>
